<h1>Your online store</h1>
<%= link_to "Products", products_path, title: 'List all available products' %>
<%= link_to "Sign up", new_user_path, title: 'Register for online shopping' %>
<%= link_to "Contact us", contact_path, title: 'Contact Rainforest Inc.' %> 
