<div class="title">
  <h1>Products</h1>
  <%= link_to "Add", new_product_path, title: "Add a new product" %>
</div>
<div class="product-list">
  <% if @products.count > 0 %>
    <%= render @products %>
  <% else %>
    <h2>No products found</h2>
  <% end %>
</div>